/*Reset des propriétés - normalize */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    /* On espace la div du logo et des lien */
    justify-content: space-between;
    /* centrer les éléments à la div */
    align-items: center;
    min-height: 100px;
    background-color: grey;
    font-family: 'DM', sans-serif;
    width: 90%;
    margin: auto;
}

.nav-menu {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    justify-content: space-around;
    /*On rajoute une width pour utiliser le space around*/
    width: 50%;
}

.nav-menu li {
    list-style: none;
}
.nav-menu a{
    text-decoration: none;
}

.burger {
    display:none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    margin-right: 20px;
}

/* Taille tablette */
@media screen and (max-width: 768px) {
    .nav-menu{
        position: absolute;
        right: 0px;
        height: 400px;
        top: 10vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        /*display: none;*/
        
    }


    .burger {
        display: block;
    }



}

.nav-active {
    /*display: block;*/
    transform: translateX(0%);
}
