/*Reset des propriétés - normalize */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******************************** Barre de Navigation **********************************/

.nav {
    display: flex;
    /* On espace la div du logo et des lien */
    justify-content: space-between;
    /* centrer les éléments à la div */
    align-items: center;
    min-height: 100px;
    /*background-color: grey;*/
    font-family: 'DM Sans', sans-serif;
    width: 90%;
    margin: auto;
}

.logo {

}

.nav-menu {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    justify-content: space-around;
    /*On rajoute une width pour utiliser le space around*/
    width: 50%;
    color: black;
}

.nav-menu li {
    list-style: none;
    
}

.nav-menu a{
    text-decoration: none;
    color: black;
}


.nav-menu a:hover {

    background-color: #FE142F;
    color: white;
    padding: 12px;
    border-radius: 8px;
    text-decoration: underline;

    
}


.burger {
    display:none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    margin-right: 20px;
}

/* Taille tablette */
@media screen and (max-width: 768px) {
    .nav-menu{
        position: absolute;
        right: 0px;
        height: 400px;
        top: 10vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        display: none;
        
    }


    .burger {
        display: block;
    }



}

.nav-active {
    display: flex;
}

/**************************************** Corps de page ****************************/
@media screen and (max-width: 768px) {
    .half-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;
        margin-top: 5%;
        margin: auto;
    }

    .content-text-slogan {
        margin-top: 20px;
        font-size: 48px;
        font-weight: 500;
        font-family: 'DM Sans', sans-serif;
    }

    .content-text-Sub-heading {
        margin-top: 20px;
        font-size: 13px;
        font-weight: 400;
        font-family: 'DM Sans', sans-serif;
    }

    .content-image {
        margin-top: 20px;
        background-image: url("../images/gamer_mobile.png");
        /*background-color: yellow;*/
        background-repeat: no-repeat;
        background-position: center;
        height: 300px;
        width: 100%;
        border-radius: 8px;
    }

    .cta {
        display: flex;
        margin-top: 20px;
        background-color: #FE142F; /* Rose */
        border: none;
        color: white;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 8px;
        font-family: 'DM Sans', sans-serif;
      }

}

/************** corps de page desktop ***********/
@media screen and (min-width: 768px) {
    .container {
        display: flex;
        /*align-items: center;*/
        flex-direction: column;
        width: 90%;
        margin: auto;
        background-color: #232323;
        border-radius: 8px;
        padding-left: 5%;
        padding-bottom: 5%;
        background-image: url("../images/gamer_desktop.png");
        background-repeat: no-repeat;
        background-position: right;
        height: 500px;

    }

    .half-container {
        width: 65%;
    }

    .content-text-slogan {
        margin-top: 5%;
        font-size: 85px;
        font-weight: 500;
        font-family: 'DM Sans', sans-serif;
        color: white;
    }

    .content-text-Sub-heading {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 400;
        font-family: 'DM Sans', sans-serif;
        color: white;
        width: 35%;
        
    }
}


/******** Button sign up *******/
.cta {
    margin-top: 20px;
    background-color: #FE142F; /* Rose */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    border-radius: 8px;
    font-family: 'DM Sans', sans-serif;
}


.cta:hover {
    box-shadow: 0 0 4px white;
}

/************** Modal desktop ************************/
/* https://www.w3schools.com/howto/howto_css_modals.asp */
/* https://www.youtube.com/watch?v=okbByPWS1Xc */

/* The Close Button */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255, 255, 255); /* Fallback color */
    /*background-color: rgba(255, 255, 255, 0.8);*/ /* white w/ opacity */


  }

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.middle-container{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.modal-container{
    flex-direction: column;
    width: 300px;
    height: 550px;
    background-color: #232323;
    color: white;
    border-radius: 8px;
    padding: 15px 15px;
    font-size: 11px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    box-shadow: 0 0 4px rgb(2, 2, 2);
}

form .user-details .text-box {
    margin: 10px 0 6px 0;
} 

form .user-details .radio-box {
    margin: 10px 0 6px 0;
} 

form .user-details .checkbox-box {
    margin: 20px 0 10px 0;
} 

.modal-container .user-details .text-box input{
    height: 40px;
    width: 100%;
    border-radius: 6px;
}
.radio-box .details span{
    width: 100%;
}


/* custom radio button */
/* https://dev.to/kallmanation/styling-a-radio-button-with-only-css-4llc*/
.radio-box input[type="radio"] {
    display: none;
  }

.radio-box input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.05rem;
    border-color: gray;
}

.radio-box input[type="radio"]:checked + *::before {
    background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent);
    border-color: teal;
  }

.radio-box input[type="radio"]:checked + * {
    color: teal;
}

/* custom checkbox */

.checkbox-box input[type="checkbox"] {
    display: none;
  }

.checkbox-box input[type="checkbox"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.3rem;
    border-radius: 20%;
    border-style: solid;
    border-width: 0.05rem;
    border-color: gray;
    background: radial-gradient(grey 100%, teal 40%, transparent 50%, transparent);
}

.checkbox-box input[type="checkbox"]:checked + *::before {
    background: radial-gradient(teal 100%, teal 40%, transparent 50%, transparent);
    border-color: teal;
  }

.checkbox-box input[type="checkbox"]:checked + * {
    color: teal;
}

.submit-box {
    text-align: center;
}

.submit-box input {
    margin-top: 10px;
    background-color: #FE142F; /* Rose */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 8px;
    font-family: 'DM Sans', sans-serif;
}

.submit-box input:hover {
    box-shadow: 0 0 4px white;
}

/******************* VALIDATION FORM ************************/

#errorMessageFirstName, #errorMessageLastName, #errorMessageEmail, #errorMessageBirthdate, #errorMessageTournaments, #errorMessageTerms {
    color: #FE142F;
    font-family: 'DM Sans', sans-serif;
    font-size: 10px;
}


/************************** Footer **************************/
._Footer {
    margin-top: 20px;
    display:flex;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 13px;
    color: #FE142F;
}

/**************** SIGN UP VALID **************/

.modalV {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.8); /* white w/ opacity */

}
.middle-containerV{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.modal-containerV{

    width: 300px;
    height: 550px;
    background-color: #232323;
    color: white;
    border-radius: 8px;
    padding: 30px 30px;
    font-size: 11px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    box-shadow: 0 0 4px rgb(2, 2, 2);
}


.signupValidText {   
    padding-top: 100px;
    font-size: 30px;
}

.closeButton {
    margin-top: 100px;
    margin-left: 60px;
    background-color: #FE142F; /* Rose */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    border-radius: 8px;
    font-family: 'DM Sans', sans-serif;

}

.closeButton:hover {
    box-shadow: 0 0 4px white;
}